<div class="page-section contact-container">
  <div class="section-title">
    <h2 class="title"><%= section.name %></h2>
  </div>

  <div class="contact-content">
    <div class="contact-info-wrapper">
      <p class="contact-info"><%= section.contact.name %></p>
      <p class="contact-info"><%= section.contact.address %></p>
      <p class="contact-info"><%= section.contact.email_address %></p>
      <p class="contact-info"><%= section.contact.phone_number %></p>
    </div>

    <div class="social-button-wrapper">
      <div class="section-title">
        <h3 class="title">Or find us on social media</h3>
      </div>
      <div class="social-buttons">
        <div class="social">
          <a href="https://twitter.com/caroline_louie" class="social-connect twitter" target="_blank">
        		<i class="fab fa-twitter fa-3x icon-outline"></i>
          </a>
          <a href="https://twitter.com/caroline_louie" class="social-connect instagram" target="_blank">
        		<i class="fab fa-instagram fa-3x icon-outline"></i>
          </a>
          <a href="https://twitter.com/caroline_louie" class="social-connect facebook" target="_blank">
        		<i class="fab fa-facebook-f fa-3x icon-outline"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="contact-form">
    <form>
      <div class="input-field">
        <input type="text" placeholder="Name"class="validate">
        <i class="far fa-user icon-outline"></i>
      </div>

      <div class="input-field">
        <input id="icon_email" placeholder="Email" type="email" class="validate">
        <i class="far fa-envelope icon-outline"></i>
      </div>

      <div class="input-field">
        <textarea id="icon_message" class="materialize-textarea"></textarea>
        <i class="far fa-comment icon-outline"></i>
      </div>

      <input type="submit" name="action">
    </form>
  </div>
</div>
