<div class="page-section contact-container">
  <div class="section-title">
    <h2 class="title"><%= section.name %></h2>
  </div>

  <div class="contact-content-wrapper">
    <div class="contact-content">
      <div class="contact-info-wrapper">
        <p class="contact-info"><%= section.contact.name %></p>
        <p class="contact-info"><%= section.contact.address %></p>
        <a class="contact-info" href="mailto:<%= section.contact.email_address %>"><%= section.contact.email_address %></a>
        <a class="contact-info" href="tel:<%= section.contact.phone_number %>"><%= section.contact.phone_number %></a>
      </div>
    </div>
  </div>


  <div class="instagram-media"></div>
</div>
