<div class="content-container">
  <%= render 'title', section: section %>
  <div class="btn-wrapper">
    <%= link_to "Download Menu", "download_menu", class: "btn btn-sm btn-default", target: "_blank" %>
  </div>

  <%= section.description %>

  <% menu_item_categories.each do |category| %>
    <div class="menu-items">
      <h4 class="category-name"><%= category.name %></h4>

      <% category.children.each do |item| %>
        <div class="menu-item">
          <p class="name"><%= item.name %></p>
          <p class="price"><%= number_to_currency(item.price) %></p>
          <p class="note"><%= item.description %></p>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="disclaimer">
    <p>* Menu items may vary.</p>
    <p>** Menu prices may vary.</p>
  </div>
</div>
