<!DOCTYPE html>
<html>
  <head>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <title>Sajetarian</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application-print", :media => "print" %>

  </head>

  <body>
    <%= render "/layouts/shares/header" %>
    <div class="main-container">
      <div data-behaviour="hide-hamburger-menu" class="menu-content-overlay"></div>
      <%= yield %>
    </div>
  </body>
</html>
